@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.App {
  font-family: sans-serif;
  text-align: center;
}
.button {
  width: 200px;
  display: inline-block;
  position: relative;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
  color: #79e3b6;
  margin-bottom: 25px;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.span {
  line-height: 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: semibold;
}

.button:hover {
  opacity: 0.3;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
}
.button:active {
  opacity: 1;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  color: #79e3b6;
}
.Calc {
  display: inline-block;
  position: relative;
  padding: 70px;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
  color: #79e3b6;
  margin-top: 5%;
  margin-bottom: 25px;
  border-radius: 32px;
  text-align: center;
}
h1 {
  font-family: "Montserrat", sans-serif;
  color: #79e3b6;
}
